body {	
  height: 100vh;
  background-image: linear-gradient(to top, rgba(145, 149, 177, 0.74), transparent  20%);
}

#app {
  min-width: 300px;
  max-width: 576px;
}

#loading-mask {
	z-index: 2000;
}

#base-selection-form {
  z-index: 1999;
}
#header {
  color :black;
}

#header a{
  color :black;
  font-weight: 400;
}